@mixin mobile {
    @media only screen and (min-height: 600px) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: 1024px) {
        @content;
    }
}

@mixin bigDesktop {
    @media only screen and (min-width: 1360px) {
        @content;
    }
}

//logo, botones y bordes
$logo: #d34646;
$boton: #d34646;
$borde: #d34646;

//texto
$texto: #b12e2ec4;

//iconos, inputs y placeholders
$icono: #ac4949c0;
$inputs: #ac4949c0;
$placeholders: #ac4949c0;

